a {
  text-decoration: none;
}

.w3-container {
  padding: 0px 10%;
}

body {
  overflow: hidden;
  padding-top: 150px;
}

.cm-button-yellow {
  color: #1a1a1a;
  padding: 16px 50px;
  background: #ECBA5C;
  border-radius: 5px;
  transition: 0.3s ease;
  border: none;
  cursor: pointer;
}
.cm-button-yellow:hover {
  transform: scale(0.95);
  box-shadow: 0 0 10px rgba(255, 132, 77, 0.5);
}

header {
  background-color: #1a1a1a;
  position: fixed;
  top: 0;
  width: 100%;
}
header .cm-logo {
  width: 250px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
header .logo-wrapper {
  display: flex;
  align-items: center;
}
header .logo-wrapper .cm-logo {
  background-image: url("../img/CM-LOGO.png");
}
header nav {
  display: flex;
  justify-content: flex-end;
}
header nav ul {
  padding: 5px 0;
  margin: 0;
}
@media (max-width: 64em) {
  header nav ul {
    display: none;
  }
}
header nav ul li:not(.register-button) {
  display: inline-block;
  margin: 0 25px;
  color: #F3F9F9;
  transition: 0.3s ease;
  cursor: pointer;
  border-bottom: 2px solid #1a1a1a;
}
header nav ul li:not(.register-button):hover {
  color: #e2f1f1;
  border-bottom: 2px solid #ECBA5C;
}
header nav ul .register-button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
header nav .menu-toggle {
  display: none;
  width: 50px;
}
@media (max-width: 64em) {
  header nav .menu-toggle {
    display: block;
  }
}

footer {
  color: #f3f9f9;
  background-color: #1a1a1a;
  text-align: center;
  padding: 15px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
.modal_body {
  position: relative;
  height: auto;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
.modal_body_close {
  position: absolute;
  top: 10px;
  right: 25px;
  cursor: pointer;
  font-size: 1.5em;
}
.modal_body_logo {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  top: 10%;
  margin: 0 auto;
}
.modal_body_message {
  padding: 50px 100px;
  height: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.home {
  box-sizing: border-box;
  margin-bottom: -25px;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 64em) {
  .home .row {
    flex-direction: column-reverse;
  }
}
.home img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.home .check-fade {
  width: 100px;
  height: auto;
  margin-bottom: -50px;
}
.home h1 {
  font-size: 45px;
  text-transform: uppercase;
}
.home h2 {
  font-weight: normal;
}
.home .button-wrapper {
  display: flex;
  margin-top: 20px;
}
.home .button-wrapper a {
  color: #F3F9F9;
  padding: 16px 50px;
  background: #455A64;
  margin-right: 20px;
  border-radius: 50px;
  box-shadow: 0 0 25px rgba(69, 90, 100, 0.5);
  transition: 0.3s ease;
}
.home .button-wrapper a:hover {
  transform: scale(0.95);
  box-shadow: 0 0 10px rgba(69, 90, 100, 0.5);
}
.home .button-wrapper a:not(:first-child) {
  background: linear-gradient(90deg, #ff844d 0%, #ffad4d 100%);
  box-shadow: 0 0 25px rgba(255, 132, 77, 0.5);
}
.home .button-wrapper a:not(:first-child):hover {
  box-shadow: 0 0 10px rgba(255, 132, 77, 0.5);
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 95vh;
}
.register-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/CM-BG-REGISTER.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.register img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.register h1 {
  padding-left: 25px;
  color: white;
}
.register .user-form {
  margin-top: 15px;
}
.register .user-form input {
  width: calc(100% - 25px);
  border-radius: 50px;
  border-radius: 50px;
  height: 50px;
  padding-left: 25px;
  margin-bottom: 8px;
  border: none;
  background-color: #f5f5f5;
  font-size: 24px;
  color: #455A64;
}
.register .user-form input:focus {
  outline: none;
}
.register .user-form input:caret {
  color: #455A64;
}
.register .user-form button {
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 18px;
}

.login, .register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 95vh;
}
.login-column, .register-column {
  margin: 0 auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
  padding: 25px;
  text-align: center;
}
.login-background, .register-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/CM-BG.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.login img, .register img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.login h1, .register h1 {
  padding-left: 25px;
  color: #455A64;
}
.login .user-form, .register .user-form {
  margin-top: 15px;
}
.login .user-form input, .register .user-form input {
  width: calc(100% - 25px);
  border-radius: 50px;
  border-radius: 50px;
  height: 50px;
  padding-left: 25px;
  margin-bottom: 8px;
  border: none;
  background-color: #f5f5f5;
  font-size: 24px;
  color: #455A64;
}
.login .user-form input:focus, .register .user-form input:focus {
  outline: none;
}
.login .user-form input:caret, .register .user-form input:caret {
  color: #455A64;
}
.login .user-form button, .register .user-form button {
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 18px;
}

.lists {
  background-image: url("../img/CM-BG.png");
  background-size: cover;
}
.lists-section {
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 700px;
  display: inline-flex;
  width: 1200px;
  overflow-x: scroll;
}
.lists .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  border-bottom: 2px solid #1a1a1a;
}
.lists .title span {
  cursor: pointer;
}
.lists-container {
  width: 250px;
  height: 100px;
  margin-bottom: 25px;
  margin-right: 25px;
  position: relative;
  background: #f3f9f9;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  padding: 25px;
}
.lists-container-item .fa-bars {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  bottom: 0;
  top: 0;
  left: 10px;
  cursor: grab;
}
.lists-container-item-controls {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  bottom: 0;
  top: 0;
  justify-content: space-between;
  padding: 15px 0px;
  right: 10px;
}
.lists-container-item-controls .fa-ellipsis-h {
  cursor: pointer;
}
.lists-container-item-controls-color {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  cursor: pointer;
}
.lists-container-menu {
  width: 100px;
  height: auto;
  padding: 10px 5px;
  background-color: #f3f9f9;
  border-radius: 5px;
  position: absolute;
  right: -105px;
  top: 0px;
}
.lists-modal .modal_body {
  width: 500px;
}
.lists-modal .modal_body_content {
  padding: 50px;
}
.lists-modal .modal_body_content input[name='title'] {
  width: 100%;
  border: none;
  border-bottom: 3px solid grey;
  margin-bottom: 25px;
  font-size: 24px;
  border-radius: 25px;
  padding-left: 25px;
}
.lists-modal .modal_body_content input[name='title']:focus {
  outline: none;
}
.lists-modal .modal_body_content button {
  text-align: center;
  color: #1a1a1a;
  border-radius: 5px;
  margin-top: 25px;
  width: 100%;
  padding: 10px;
  border-radius: 50px;
}
.lists-modal .modal_body_content .cancel {
  background-color: grey;
}
.lists-modal .modal_body_content .update-list-button {
  background-color: #ECBA5C;
}
.lists-modal .modal_body_content .remove-list-button {
  background-color: #a54b4b;
  color: #F3F9F9;
}

.add_list {
  position: absolute;
  left: 0;
  bottom: 25px;
  padding: 10px 25px;
  background-color: #1a1a1a;
  color: #F3F9F9;
  cursor: pointer;
}

.cards {
  background-image: url("../img/CM-BG.png");
  background-size: cover;
}
.cards .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  border-bottom: 2px solid #1a1a1a;
}
.cards .title span {
  cursor: pointer;
}
.cards-section {
  display: flex;
}
.cards-section .card-container {
  padding: 25px 25px 100px 25px;
  background-color: #EDEDED;
  border-radius: 5px;
  height: fit-content;
  min-height: 100px;
  width: 300px;
  margin-right: 25px;
}
.cards-section .card-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.cards-section .card-container-header-title {
  font-size: 24px;
}
.cards-section .card-container .task-container {
  width: 100%;
  padding: 25px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  border: 1px solid #1A1A1A;
}
.cards-section .card-container .task-container-controls {
  position: absolute;
  right: 10px;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.cards-section .card-container .task-container-controls-color {
  width: 10px;
  height: 10px;
  background-color: blue;
  border-radius: 10px;
}

.add_card {
  position: absolute;
  left: 0;
  bottom: 25px;
  padding: 10px 25px;
  background-color: #1a1a1a;
  color: #F3F9F9;
  cursor: pointer;
}

.row, * {
  margin: 0;
  padding: 0;
  font-family: 'Niramit', sans-serif;
}

.container {
  max-width: 1200px;
  padding: 0;
  margin: 0 auto;
}

.main {
  width: 1200px;
  margin: 0 auto;
  height: 82vh;
  position: relative;
}

.button {
  border: none;
}

/*# sourceMappingURL=main.css.map */
