@import "core/colors";
@import "core/mixins";
@import "core/borders";
@import "core/typography";
@import "core/layout";
@import "core/buttons";

@import "sections/header";
@import "sections/footer";

@import "pages/home";
@import "pages/register";
@import "pages/login";
@import "pages/lists";

@import "blocks/modal";

.row, *{
	margin: 0;
	padding: 0;
	font-family: 'Niramit', sans-serif;
	*{
		padding: 0;
	}
}

.container{
	max-width: 1200px;
	padding: 0;
	margin: 0 auto;
}

.main{
	width: 1200px;
	margin: 0 auto;
	height: 100vh;
}