header{
	background-color: #1a1a1a;
	position: fixed;
	top: 0;
	width: 100%;
	.cm-logo{
	    width: 250px;
	    height: 100px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
	.logo-wrapper{
		display: flex;
		align-items: center;
		.cm-logo{
			background-image: url('../img/CM-LOGO.png');
		}
	}	

	nav{
		display: flex;
		justify-content: flex-end;
		ul{
			padding: 5px 0;
			margin: 0;
			@media(max-width: 64em){
				display: none;
			}
			li:not(.register-button){
				display: inline-block;
				margin: 0 25px;
				color: $light-text;
				transition: 0.3s ease;
				cursor: pointer;
				border-bottom: 2px solid #1a1a1a;
				&:hover{
					color: darken($light-text, 5%);
					border-bottom: 2px solid $yellow;
				}
			}
			.register-button{
				display: inline-block;
				padding: 10px 20px;
				border-radius: 5px;
				cursor: pointer;
			}
		}
		.menu-toggle{
			display: none;
			@media(max-width:64em){
				display: block;
			}
			width: 50px;
		}
	}			
}