header{
	background-color: $dark-blue;
	height: 50px;
	.cm-col-6{
		display: flex;
		height: 100%;
		a{
			display: flex;
			img{
				width: 100px;
				height: auto;
				object-fit: contain;
			}			
		}

		nav{
			display: flex;
			ul{
				list-style: none;
				align-self: center;
				li:not(.register){
					display: inline-block;
					margin: 0 25px;
					color: $light-text;
					transition: 0.3s ease;
					cursor: pointer;
					border-bottom: 2px solid $dark-blue;
					&:hover{
						color: darken($light-text, 5%);
						border-bottom: 2px solid $orange;
					}
				}
				.register{
					display: inline-block;
					padding: 10px 20px;
					color: $light-text;
					border-radius: 5px;
					box-shadow: 0 0 10px rgba(255, 132, 77, 0.5);
					cursor: pointer;
					background: $orange-gradient;
				}
			}
		}
	}
}